*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.register{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url("./background-log-sign.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.rContainer{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 520px;
    height: 500px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    color: #fff;
    border-radius: 15px;
    
}
.rContainer h1{
    margin-top: 10px;
}
.rInput{
    width: 90%;
    height: 50px;
    margin: 10px;
    padding-left: 12px;
    font-size: 16px;
    color: #fff;
    border-radius: 20px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(20px);
}
.error-message {
    color: red;
    display: none; /* Ẩn thông báo lỗi ban đầu */
  }
.rInput:hover{
    border: 3px solid #fff;
}
.rButton{
    width: 60%;
    height: 50px;
    margin: 10px;
    padding-left: 12px;
    font-size: 16px;
    color: #fff;
    border-radius: 20px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(20px);
}
.rButton:hover{
    background-color: rgba(255,255,255,0.7);
    color: black;
}


